body{
  position: sticky;
  z-index: 8;
  overflow: hidden;
}

.contactPage{
}


.contactDiv{
  overflow-y: scroll;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: orange;
  position: relative;
  top: 10vh;
  background: linear-gradient(to left, #141e30, #243b55);
  width: 100vw;
  padding-top: 2%;
  height: 90vh;
}

.aboutBox{
  height: 150px;
  width: 70%;
  margin-left: 8%;
  margin-bottom: 6%;
  color: white;
}

.aboutBox h2{
  display: inline;
  color: white;
}
.aboutBox p{
  color: white;
}


.aboutText{
  position: relative;
  height: 100%;
}

.aboutBox img{
  margin-right: 4%;
  float: left;
  position: relative;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contactTitle{
  font-size: 350%;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.contactsInfo{
  display: inline;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.contactsIcon{
  float: left;
}


.contactsList{
  position: relative;
  margin-bottom: 20%;
  float: left;
  bottom: 0;
}


.contactInfoContainer{
}
